<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <main class="my-5">
    <header class="mb-5">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <a href="/">
              <h1 class="h2">BooksReviews</h1>
            </a>
          </div>
          <nav>
            <ul class="d-flex align-items-center list-unstyled">
              <li><a class="ml-4 text-uppercase" href="{{ url_for('index') }}">Home</a></li>
              <div class="btn-group ml-4">
                <button type="button" class="btn btn-info dropdown-toggle text-capitalize" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {% if session.user %}
                  {{ session.user.username }}
                  {% endif %}

                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
              </div>
            </ul>
          </nav>
        </div>
        <hr>
      </div>
    </header>
    <section class="pt-5">
      <div class="container">
        {% block content%}
        {% endblock %}
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>