{% extends "./base_books.html" %}

<!-- Title block -->
{% block title %} Book | Books Reviews {% endblock %}

<!-- Content block -->
{% block content %}
<div class="row">
  <div class="col">
    <h1 class="mb-5">Book Details{% if book %}: {{book.title}}{% endif %}</h1>
    <hr class="mb-5" />
    <div class="book">
      {% if book %}
      <div class="row">
        <div class="col">
          <div class="book-details">
            <ul class="list-unstyled">
              <li>Title: {{ book.title}}</li>
              <li>Author: {{ book.author }}</li>
              <li>Year: {{ book.year }}</li>
              <li>ISBN: {{ book.isbn }}</li>
            </ul>
          </div>
          <div class="reviews">
            <h3>Review:</h3>
            {% if review %}
            <div class="review-body">
              <ul>
                <li>Rating: {{ review.rating }}</li>
                <li>Review: {{ review.review }}</li>
              </ul>
            </div>
            {% else %}
            <div class="review-form">
              <form action="{{ url_for('book', isbn=book.isbn) }}" method="POST">
                <div class="form-group">
                  <label for="review-rating">Rating:</label>
                  <select name="rating" class="form-control" id="review-rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="review-text">Review</label>
                  <textarea name="review" class="form-control" id="review-text" rows="3">Enter your review</textarea>
                </div>
                <div class="form-group">
                  <input class="btn btn-primary btn-block" type="submit" value="Submit" />
                </div>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %}
      <p>No such book.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}