{% extends "./base.html" %}

<!-- Title block -->
{% block title %} Home | Books Reviews {% endblock %}

<!-- Content block -->
{% block content %}
<div class="row justify-content-center">
  <div class="col col-md-8 col-lg-6">
    <h2 class="mb-5 text-center">Welcome to BooksReviews</h2>
    <div class="row justify-content-center">
      <div class="col">
        <a href="{{ url_for('register') }}" class="btn btn-success btn-block">Register</a>
      </div>
      <div class="col">
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-block">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}